/*page*/
/*header*/

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo{
  width: 183px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.hedar__title{
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin: 0;
  padding-left: 64px;
  z-index: 3;
}

.hedar__subtitle{
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  z-index: 2;
}

.hedar__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.hedar__square-pic{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.hedar__link{
  color: #2f80ed;
  text-decoration: none;
}

/*content*/
/*description*/

.description{
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns{
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.two-columns__brief{
  width: 175px;
  font-size: 18px;
  color: #2f80ed;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph{
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 30px auto 0;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent{
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

/*digits*/

.digits{
  margin-top: 100px;
  margin-bottom: 100px;
}

.table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.section-title{
  width: 60%;
  text-align: center;
  margin: 100px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle{
  width: 60%;
  text-align: center;
  margin: 20px auto 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*feynman*/

.feynman{
  margin-top: 100px;
  background-image: url(./../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.feynman__title{
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  margin: 0;
  padding-top: 100px;
  text-align: center;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
}

.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

/*kaufman*/

.kaufman{
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.table_theme_dark{
  margin: 0px auto 90px;
}

.kaufman__triangle{
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 1;
}

.section-title_theme_dark{
  position: relative;
  text-align: center;
  width: 60%;
  margin: 90px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: #ffff;
  z-index: 3;
}

.section-subtitle_theme_dark{
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #ffff;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #ffff;
  margin-bottom: 20px;
  margin-top: 0px;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #ffff; 
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}


/* Footer */

.footer{   
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  
}

.footer__columns{
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #ffff;
  margin: 18px 0;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-links:last-of-type(n3){
  margin-bottom: 16px;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #ffff;
  margin: 0 auto 20px;
}

.footer__column-links{
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffff;
  text-decoration: none;
}








